.search-container {
  background: image-url("header-image") no-repeat;
  background-size: cover;
  background-position: 0% 70%;
  box-sizing: border-box;
  height: 600px;
  padding: 40px 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  // padding: 50px;
}

.text-header {
  font-size: 50px;
  font-weight: 600;
}

.sub-text-header {
  font-size: 32px;
  font-weight: 100;
  line-height: 34px;
  margin: 0;
}

.search-box {
  background: rgba(0, 0, 0, 0.32);
  padding: 20px 25px;
  border-radius: 5px;
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-price {
  font-weight: 100;
  font-size: 22px;
  margin-top: 0;
}

.dollar-sign {
  margin-right: 7px;
}

.price-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.price-input {
  box-sizing: border-box;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100px;
  margin: 10px 0px;
  color: #333;
  padding: 5px 10px;
  height: 30px;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency {
  // border: 1px inset #ccc;
}

.search-button {
  text-align: center;
  margin-top: 10px;
  width: 250px;
  font-size: 20px;
  border: 1.5px solid white;
  border-radius: 25px;
  padding: 8px 0px;
  letter-spacing: 1px;
}

.search-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}